typing_extensions
dask[bag]
distributed
google-cloud-storage
requests
toolz
cloudpickle
nltk
numpy
scipy
sklearn
gensim
matplotlib
PyQt5
tqdm
Pyro4 # needed to deserialize the gensim data
spacy
chardet
msgpack
